header {
    background-color: #f37520;
}

.menu-link {
    color: #ffffff;
}

.menu-lateral {
    background-color: #ededed; 
}

.rodape {
    background-color: #454545;    
}

/* background-color: #ededed;
background-color: #454545;
background-color: #ffffff; */
