@font-face {
    font-family: "Open-Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-size: 1em;
}
@font-face {
    font-family: "Open-Sans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
    font-size: 1em;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgba(94, 41, 154, 0.8);
    position: relative;
    z-index: 2;
}

header .container {
    position: relative;
}

.header-black {
    background-color: #000;
    height: 40px;
}

header .header-black ul {
    /* margin-top: 4px; */
}

header .header-black li {
    background-image: url("../img/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px;
}

header .header-black li.club-01 {
	background-position: 0px 0px;
}
header .header-black li.club-02 {
	background-position: -48px 0px;
}
header .header-black li.club-03 {
	background-position: -95px 0px;
}
header .header-black li.club-04 {
	background-position: -140px 0px;
}
header .header-black li.club-05 {
	background-position: -189px 0px;
}
header .header-black li.club-06 {
	background-position: -239px 0px;
}
header .header-black li.club-07 {
	background-position: -288px 0px;
}
header .header-black li.club-08 {
	background-position: -334px 0px;
}
header .header-black li.club-09 {
	background-position: -381px 0px;
}
header .header-black li.club-10 {
	background-position: -429px 0px;
}
header .header-black li.club-11 {
	background-position: -478px 0px;
}
header .header-black li.club-12 {
	background-position: -527px 0px;
}
header .header-black li.club-13 {
	background-position: -579px 0px;
}
header .header-black li.club-14 {
	background-position: -629px 0px;
}
header .header-black li.club-15 {
	background-position: -671px 0px;
}
header .header-black li.club-16 {
	background-position: -719px 0px;
}
header .header-black li.club-17 {
	background-position: -763px 0px;
}
header .header-black li.club-18 {
	background-position: -808px 0px;
}
header .header-black li.club-19 {
	background-position: -853px 0px;
}
header .header-black li.club-20 {
	background-position: -900px 0px;
}
header .header-black li.club-21 {
	background-position: -950px 0px;
}
header .header-black li.club-22 {
	background-position: -1000px 0px;
}

header .header-black li a {
    width: 32px;
    height: 32px;
    display: block;
    /* padding: 4px; */
    /* background-color: #555; */
}

header #logotipo {
    position: absolute;
    top: -20px;
}

#menu {
    margin: 17px 0;
}

#menu li {
    display: inline-block;
    font-family: "Open-Sans";
}

#menu li.search {
    width: 182px;
}

#menu li.search input {
    background-color: #5c2d90;
    color: #fff;
    border: none;
    height: 30px;
    line-height: 30px;
}

#menu li.search button {
    background: none;
    border: none;
    position: absolute;
    right: 3px;
}

#menu li.search button {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

#menu li.search ::-webkit-input-placeholder {
    color: white;
}

#menu li a {
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
}

#banner {
    width: 100%;
    height: 728px;
    position: relative;
    top: -110px;
    background: url("../img/banner.jpg") no-repeat;
}

#banner h1 {
    position: relative;
    color: #fff;
    top: 300px;
    font-size: 92px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    font-family: 'Open-Sans-Light';
    margin-left: 50px;
}

#banner h1 small {
    font-size: 32px;
    display: block;
    color: #fff;
    font-family: 'Open-Sans';
    font-weight: bold;
}

#news {
    position: relative;
    top: -80px;
}

#news h2 {
    color: #5e2799;
    font-family: "Open-Sans-Light";
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

#news hr {
    border: #fde192 solid 2px;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 55px;
}

#news .thumbnails {
    margin-top: 40px;
}

#news .thumbnails h3 {
    color: #5e299a;
    font-size: 18px;
    font-family: 'Open-Sans';
    font-weight: bold;
    margin-bottom: 0;
}

#news .thumbnails time {
    color: #a7a7a7;
    font-size: 18px;
    font-family: 'Open-Sans';
}

#estatisticas {
    background-color: #5e299a;
    width: 100%;
    height: 200px;
    text-align: center;
}

#estatisticas p {
    color: #fde092;
    text-transform: uppercase;
    font-family: 'Open-Sans-Light';
    font-size: 64px;
    margin-top: 36px;
}

#estatisticas small {
    color: #fff;
    font-size: 24px;
    display: block;
}

#call-to-action {
    text-align: center;
    position: relative;
    margin-top: 105px;
}

#call-to-action h2 {
    color: #5e2799;
    font-family: "Open-Sans-Light";
    font-size: 48px;
    text-transform: uppercase;
    position: relative;
}

#call-to-action hr {
    border: #fde192 solid 2px;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 55px;
}

#call-to-action p {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #656565;
}

#call-to-action .btn {
    min-width: 164px;
    border-radius: 0;
    height: 44px;
    line-height: 34px;
}

#call-to-action .btn-roxo {
    color: #fff;
    background-color: #5e299a;
    border-color: #5e299a;
}

#call-to-action .btn-amarelo {
    color: #000;
    background-color: #fde192;
    border-color: #fde192;
}

#call-to-action .row-max {
    margin: 0 auto;
    max-width: 400px;
}

footer {
    margin-top: 110px;
}

footer .row {
    width: 100%;
}

footer .row p {
    line-height: 55px;
    margin-bottom: 0;
}

footer .row-cinza-claro {
    height: 200px;
    background-color: #171f26;
}

footer .row-cinza-escuro {
    height: 60px;
    background-color: #11171d;
    border-top: #242d37 1px solid;
}

footer .pull-left {
    font-family: "Open-Sans";
    font-size: 14px;
    color: #666;
}

footer .text-roxo {
    color: #623291;
    font-family: "Open-Sans";
    font-weight: bold;
    font-size: 14px;
}

footer .logotipo {
    margin-top: 28px;
}

footer .col-popular-post, 
footer .col-links, 
footer .col-get-in-touch {
    margin-top: 40px;
}

footer .row-cols h4 {
    font-family: "Open-Sans";
    font-size: 16px;
    color: #fff;
    padding-bottom: 17px;
    border-bottom: 1px solid #242d37;
}

footer .row-cols h5 {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}

footer .row-cols time {
    color: #fde092;
    font-family: Arial;
    font-size: 14px;
}

/* footer .row-cols ul {
    list-style: none;
} */

footer .col-links {
    color: #fff;
    font-family: Arial;
    font-size: 14px;
}

footer .col-links a,
footer .col-get-in-touch a {
    text-decoration: none;
    color: #fff;
}

footer .col-get-in-touch address {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}

footer .col-get-in-touch address span {
    display: inline-block;
}

footer .col-get-in-touch address i {
    position: relative;
    top: -14px;
}

footer .col-get-in-touch p {
    line-height: 20px;
}

footer .col-get-in-touch a {
    color: #666;
}

footer .col-get-in-touch i {
    color: #9b9b9b;
    font-size: 20px;
    margin: 0 6px;
}

footer .list-socials {
    margin-top: 4px;
}

footer .list-socials li {
    display: inline-block;
    margin-right: 8px;
}

footer .list-socials a {
    display: block;
    border: #9b9b9b 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
}
                            
footer .list-socials i {
    font-size: 16px;
    margin: 0px 6px;
}
