$body-bg: #FFF;
$body-color: #333;
$enable-rounded: false;
$enable-pointer-cursor-for-buttons: false;

$theme-colors: (
    "primary": #EE5A24,
    "secondary": #A3CB38
);

@import "../node_modules/bootstrap/scss/bootstrap";
